# Project: TMDb API

```
For this project, we are using the TMDb (The Movie Database) API.
TMDb API enables you to find out the latest information about TV Shows, Movies and the biggest names in entertainment sector for a marvelous and fun TV/Movie watching experience.
TMDb documentation
After joining TMDb, you can easily generate a new developer API key
Our Motivation for using TMDb API
By collecting the data using TMDb API one can recommend TV Shows, Movies and all sorts of entertainment on the basis of user’s affinity to specific genres, actors, likes and dislikes.
We can find details about upcoming TV Shows and Movies.
We can find what is the most popular and/ or exclusive/new content at a given time.
```

In [479]:
import requests

In [480]:
h = {'api_key':'6d4397429300ec07639cce3ac35b6e50'}

# TMDb 1.1
```
Find the 'id' of the movie "Andhadhun" using TMDb API.
Output Format:
Print the id of the movie.
```

In [481]:
response = requests.get("https://api.themoviedb.org/3/search/movie?api_key=6d4397429300ec07639cce3ac35b6e50&query=Andhadhun",params=h)

data = response.json()
print(data["results"][0]['id'])

534780

# TMDb 1.2
```
Fetch the company id company 'Marvel Studios' using TMDb. Print the id.
```

In [482]:
response = requests.get("https://api.themoviedb.org/3/search/company?api_key=6d4397429300ec07639cce3ac35b6e50&query=Marvel Studios",params=h)

data = response.json()
print(data["results"][0]['id'])

420

# TMDb 1.3
```
Find the vote count and vote average of the movie "3 Idiots" using the TMDb API
Output format: Vote Count , Vote Average
```

In [483]:
response = requests.get("https://api.themoviedb.org/3/search/movie?api_key=6d4397429300ec07639cce3ac35b6e50&query=3 Idiots",params=h)

data = response.json()
vote = 0

print(data["results"][0]['vote_count'],data["results"][0]['vote_average'])

1912 8

# TMDb 1.4
```
Fetch the names of top 5 similar movies to 'Inception' from the TMDb API.
Output Format:
Print the name of the movies in a new line.
movie_name_1
movie_name_2
and so on
```

In [484]:
response = requests.get("https://api.themoviedb.org/3/search/movie", params={'api_key':'6d4397429300ec07639cce3ac35b6e50','query':"Inception"})

data = response.json()

for r in data['results']:
    if r['title'] == 'Inception':
        ID = r['id']

In [485]:
response = requests.get('https://api.themoviedb.org/3/movie/846190/similar',params=h) 
data = response.json()

for r in data['results'][:5]:
    print(r['title'])

Inception
The Vow
Paranormal Activity 3
Jack Reacher
My Week with Marilyn

# TMDb 1.5
```
Fetch the top rated english movies in the US region using the TMDb API. From the result, print the first 10 movies which have original language as english. Also print their genres.
Note: Do not use the search/movies API for finding genres.
Output Format:
movie_name_1 - genre_1, genre_2 ....
and so on..
```

In [486]:
response = requests.get('https://api.themoviedb.org/3/genre/movie/list',params=h) 

data = response.json()

genres = {}
for g in data['genres']:
    genres[g['id']] = g['name']
    
genres

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

In [487]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated',params={'api_key':'6d4397429300ec07639cce3ac35b6e50','region':'US'}) 

data = response.json()

count = 0
for r in data['results']:
    if r['original_language'] == 'en':
        print(r['title'],end=' - ')
        for gi in r['genre_ids']:
            print(genres[gi],end=', ')
        print()
        count+=1
    if count == 10:
        break

The Godfather - Drama, Crime,
The Shawshank Redemption - Drama, Crime,
The Godfather Part II - Drama, Crime,
Schindler's List - Drama, History, War,
12 Angry Men - Drama,
Gabriel's Inferno: Part II - Romance,
The Green Mile - Fantasy, Drama, Crime,
Gabriel's Inferno - Romance,
The Dark Knight - Drama, Action, Crime, Thriller,
Pulp Fiction - Thriller, Crime,

# TMDb 2.1
```
Find the name and birthplace of the present most popular person according to TMDb API.
Output Format:
id
name - birthplace
```

In [488]:
response = requests.get('https://api.themoviedb.org/3/person/popular',params=h) 

data = response.json()

data = data['results'][0]
MostPopularId = data['id']
print(MostPopularId)

1907997

In [489]:
response = requests.get('https://api.themoviedb.org/3/person/1907997',params=h) 

data = response.json()

print(data['name'],'-',data['place_of_birth'])

Min Do-yoon - Seoul, South Korea

# TMDb 2.2
```
Fetch the Instagram and Twitter handle of Indian Actress "Alia Bhatt" from the TMDb API.
Output Format
Print the Instagram and Twitter IDs space separated.
instagram_id twitter_id
```

In [490]:
response = requests.get('https://api.themoviedb.org/3/search/person',params={'api_key':'6d4397429300ec07639cce3ac35b6e50','query':'Alia Bhatt'}) 

data = response.json()

ID  = data['results'][0]['id']

In [491]:
response = requests.get(f'https://api.themoviedb.org/3/person/{ID}/external_ids',params=h) 

data = response.json()

print(data['instagram_id'],data['twitter_id'])

aliaabhatt Aliaa08

# TMDb 2.3
```
Fetch the names of the character played by Tom Cruise in the movies:
Top Gun
Mission: Impossible - Fallout
Minority Report
Edge of Tomorrow
Output Format:
Print the names of the characters played by Tom Cruise line separated, in the respective order given in question.
```

In [492]:
response = requests.get('https://api.themoviedb.org/3/search/person',params={'api_key':'6d4397429300ec07639cce3ac35b6e50','query':'Tom Cruise'}) 

data = response.json()

ID  = data['results'][0]['id']

In [493]:
response = requests.get(f'https://api.themoviedb.org/3/person/500/movie_credits',params=h) 

data = response.json()

for i in data['cast']:
    if i['title'] == 'Top Gun':
        print(i['character'])
        break
for i in data['cast']:
    if i['title'] == 'Mission: Impossible - Fallout': 
        print(i['character'])
        break
for i in data['cast']:
    if i['title'] == 'Minority Report': 
        print(i['character'])
        break
for i in data['cast']:
    if i['title'] == 'Edge of Tomorrow': 
        print(i['character'])
        break

Lt. Pete 'Maverick' Mitchell
Ethan Hunt
Chief John Anderton
Maj. William 'Bill' Cage

# TMDb 2.4
```
Did mames McAvoy play a role in the movie Deadpool 2. Print Yes or No.
```

In [494]:
response = requests.get('https://api.themoviedb.org/3/search/person',params={'api_key':'6d4397429300ec07639cce3ac35b6e50','query':'McAvoy'}) 

data = response.json()

ID  = data['results'][0]['id']
ID

5530

In [495]:
response = requests.get(f'https://api.themoviedb.org/3/person/{ID}/movie_credits',params=h) 

data = response.json()

for i in data['cast']:
    if 'Deadpool' in i['title']:
        print('Yes')
        break
else:
    print('No')

Yes

# TMDb 2.5
```
Using the result obtained in previous question, find out if James McAvoy was credited for his role in movie Deadpool 2. Print Yes or No.
```

In [496]:
for result in data['cast']:
    if result['title'] == 'Deadpool 2':
        print('No')
        break
else:
    print('Yes')

No

# TMDb 3.1
```
Fetch the overview of the TV Show "FRIENDS" using TMDb API.
Output Format:
Print the Overview.
```

In [497]:
response = requests.get('https://api.themoviedb.org/3/search/tv',params={'api_key':'6d4397429300ec07639cce3ac35b6e50','query':'FRIENDS'}) 

data = response.json()

for r in data['results']:
    if r['original_name']=='Friends':
        print(r['overview'])
        break

Six young people from New York City, on their own and struggling to survive in the real world, find the companionship, comfort and support they get from each other to be the perfect antidote to the pressures of life.

# TMDb 3.2
```
Fetch the name and air date of S06E05 of the TV Show 'The Big Bang Theory' from TMDb API.
Output Format:
episode_name - air_date
```

In [498]:
response = requests.get('https://api.themoviedb.org/3/search/tv',params={'api_key':'6d4397429300ec07639cce3ac35b6e50','query':'The Big Bang Theory'}) 

data = response.json()

for r in data['results']:
    if r['original_name'] == 'The Big Bang Theory':
        ID = r['id']
        break
ID

1418

In [499]:
response = requests.get('https://api.themoviedb.org/3/tv/1418/season/06/episode/05',params={'api_key':'6d4397429300ec07639cce3ac35b6e50','query':'The Big Bang Theory'}) 

data = response.json()

print(data['name'],'-',data['air_date'])

The Holographic Excitation - 2012-10-25

# TMDb 3.3
```
Fetch the trending TV Shows for the week from the TMDb API and print the taglines of the top 5 shows. If there is no tagline, print 'Empty' instead
Output Format:
Print the taglines in new line.
```

In [500]:
response = requests.get('https://api.themoviedb.org/3/trending/tv/week',params=h) 

data = response.json()

ID = []

for r in data['results'][:5]:
    ID.append(r['id'])
    
for i in ID:
    response = requests.get(f'https://api.themoviedb.org/3/tv/{i}',params=h) 
    data = response.json()
    if data['tagline'] == '':
        print('Empty')
    else:
        print(data['tagline'])

Journey to Middle-earth.
Fire and blood.
The Rebellion begins.
You'll like her when she's angry.
Empty

# TMDb 3.4
```
Print the names of all the TV shows to be aired today whose original language is english.
Output Format:
Print the name of each TV show in a new line.
```

In [501]:
response = requests.get('https://api.themoviedb.org/3/tv/airing_today',params=h) 

data = response.json()

total_pages = data['total_pages']

for p in range(1,total_pages+1,1):
    response = requests.get('https://api.themoviedb.org/3/tv/airing_today',params={'api_key':'6d4397429300ec07639cce3ac35b6e50','page':p}) 
    data = response.json()
    for r in data['results']:
        if r['original_language'] == 'en':
            print(r['name'])

House of the Dragon
The Walking Dead
Rick and Morty
The Simpsons
Family Guy
SEAL Team
The Rookie
NCIS: Los Angeles
Bob's Burgers
Heartland
SAINT SEIYA: Knights of the Zodiac
PBS News Weekend
Power Book III: Raising Kanan
Last Week Tonight with John Oliver
Interview with the Vampire
Chesapeake Shores
¿Cómo se llama esta relación?
American Gigolo
Imlie y Cheeni
The Equalizer
The Serpent Queen
America's Funniest Home Videos
Talking Dead
Strictly Come Dancing
Hudson & Rex
Bloodlands
The Great North
The Block
Spicks and Specks
East New York
90 Day Fiancé: Pillow Talk
Married to Medicine
Karen Pirie
90 Day Fiancé: Happily Ever After?
Paranormal Caught on Camera
Let the Right One In
The Amazing Race Australia
Savage River
The Real Housewives of Potomac
An/Na
The Ranganation
Antiques Roadshow
Frozen Planet II
The Circus
Match of the Day 2
Air Disasters
Blumhouse's Compendium of Horror
Stanley Tucci: Searching for Italy
999: On the Front Line
Ghosts of Devil's Perch
Celebrity Wheel of Fortune
Halloween Wars
The Great Canadian Baking Show
North Sea Connection
Black Widow Murders
Spector
Celebrity SAS: Who Dares Wins
Evil Lives Here: Shadows Of Death
Celebrity Lingo
Celebrity Jeopardy!
Dance School
Chequered Flag
Grand Prix Sunday
Colin & Justin's Hotel Hell
Wreck
Alaskan Bush People
ライジングでのNUMBER GIRL
RISING SUN ROCK FESTIVAL
Model America
Sunday with Laura Kuenssberg
Jack Osbourne's Haunted Homecoming
Outrageous Pumpkins
Alaska: The Last Frontier
Fareed Zakaria GPS
A Cut Above

# TMDb 3.5
```
Count the number of males and females in the cast of "Money Heist" using the TMDb API.
Output Format:
Print the count of male and female space separated.
male_count female_count
```

In [504]:
response = requests.get('https://api.themoviedb.org/3/search/tv',params={'api_key':'6d4397429300ec07639cce3ac35b6e50','query':'Money Heist'}) 

data = response.json()

for r in data['results']:
    if r['name'] == 'Money Heist':
        ID = r['id']
        
response = requests.get(F'https://api.themoviedb.org/3/tv/{ID}/credits',params=h) 
data = response.json()

Female = 0
Male = 0

for  i in data['cast']:
    if i['gender'] == 1:
        Male+=1
    elif i['gender'] == 2:
        Female+=1
        
print(Male,Female)

5 10